.row {

    @mixin clearfix;

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }

    @mixin atMedium {

        &__b-margin-until-medium {
            margin-bottom: 0;
        }

        &__medium-4 {
            width: 33.33%;
            float: left;
        }

        &__medium-4--large {
            width: 37%;
            float: left;
        }

        &__medium-6 {
            width: 50%;
            float: left;
        }

        &__medium-8 {
            width: 66.66%;
            float: left;
        }

        &__medium-8--small {
            width: 63%;
            float: left;
        }
    }

    @mixin atSmall {
        &__gutter {
        margin-right: -65px;
        }

        &__gutter--large {
            margin-right: -100px;
        }

        &__gutter--large > div {
            padding-right: 100px;
        }

        &__gutter>div {
            padding-right: 65px;
        }
    }
}